@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body
{
    font-family: 'Raleway';
    background-color: #212121;
    color: #f0f0f0;
}

.navBar
{
    padding-top: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #b2b2b2;
}

.link
{
    width: 25%;
    float: left;
    text-align: center;
}

.box
{
    margin: 0 auto;
    width: 600px;
}

.header
{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b2b2b2;
}

.section1
{
    width: 100%;
}

.sectionHeader1
{
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
}

.img1
{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section2
{
    width: 100%;
}

.sectionHeader2
{
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
}

.footer
{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    border-top: 1px dotted #b2b2b2;
    border-bottom: 1px dotted #b2b2b2;
}

a:hover
{
    font-weight: bold;
}

a:link
{
    color: #b2ffff;
    text-decoration: none;
}

a:link:active
{
    color: #b2ffff;
    font-weight: bold;
}

a:visited
{
    color: #ffb2ff;
    text-decoration: none;
}

a:visited:active
{
    color: #ffb2ff;
    font-weight: bold;
}
